@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-family: 'Old Standard TT', serif;
                                                  
  --color-bg: #feffe9;
  --color-highlighted-bg: #fffdc1;
  --color-footer : #b8bc7f;
  --color-blog: #042c54;
  --color-text: #2e3105;
  --color-subtext: #FF8A71;
  --color-email-link:#dfe777;
  --color-buttons: #2f3105
}